BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
IndentCaseLabels: False
BreakBeforeBraces: Attach
ColumnLimit: 200
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveMacros: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: True
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: True
SpacesInAngles: Never
SpaceBeforeParens: Always
AlwaysBreakAfterReturnType: TopLevelDefinitions
RemoveBracesLLVM: True
AlignEscapedNewlines: Left
AccessModifierOffset: -4
