name: Build and upload artifact

on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install depends
        run: sudo apt-get install -y mingw-w64 clang
      - name: Make
        run: make dist-no-7z
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: out/
